<div class="bg-red dark:bg-gray-800 shadow overflow-hidden sm:rounded-md">
    <ul class="divide-y divide-gray-200">
      {{#each errors}}
        <li>
           {{this}}  
        </li>
      {{/errors}}      
    </ul>
        
</div>